<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step>
        <ng-template matStepLabel>Challenge 1</ng-template>
        <div class="solutionContainer">
            <ng-container *ngIf="solutionChallengeOne !== 0">
                <p>Total area: {{solutionChallengeOne}} feets</p>
                <img src="../../../assets/resources/images/elfo.png">
            </ng-container>

            <ng-container *ngIf="solutionChallengeOne === 0">
                <p>Data not found</p>
                <img src="../../../assets/resources/images/404.png">
            </ng-container>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Challenge 2</ng-template>
        <div class="solutionContainer">
            <ng-container *ngIf="solutionChallengeTwo !== 0">
                <p class="solutionTwo">Total area ribbon: {{solutionChallengeTwo}} feets</p>
                <img class="rotateImage" src="../../../assets/resources/images/elfo.png">
            </ng-container>

            <ng-container *ngIf="solutionChallengeTwo === 0">
                <p class="solutionTwo">Data not found</p>
                <img class="rotateImage" src="../../../assets/resources/images/404.png">
            </ng-container>
        </div>
    </mat-step>
</mat-horizontal-stepper>